/* OUTFIT REGULAR */
@font-face {
  font-family: 'Outfit';
  src: url('./Outfit-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* OUTFIT BOLD */
@font-face {
  font-family: 'Outfit';
  src: url('./Outfit-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* OUTFIT LIGHT */
@font-face {
  font-family: 'Outfit';
  src: url('./Outfit-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

/* OUTFIT THIN */
@font-face {
  font-family: 'Outfit';
  src: url('./Outfit-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
